.infoContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b0a4a4;
  padding-bottom: 0.6em;
  margin-bottom: 3rem;
  h3 {
    text-align: left;
    font-weight: 400;
  }
}

.details {
  display: flex;
  flex-direction: column;
  // width: 360px;
  width: 360px;
}

.infoRow {
  display: flex;
  width: 100%;
  margin: 0.2em 0;
  padding: 0 0.7em;
}

#info-row-switch-lang {
  position: relative;
  span:nth-child(2) {
    padding: 0 10px;
  }
}

.leftInfo, .rightInfo {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}
.rightInfo {
  margin: 0;
}

#lang {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    min-width: 60px;
    text-align: left;
    &:last-child {
      text-align: right;
    }
  }
}

.switchLangButton {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: #5f6368;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: transform .2s;
  margin: 0 5px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  &:hover {
    // transform: scale(1.2);
    background-color: rgb(202, 194, 194);
    border-radius: 50%;
  }
}

#word-count-input {
  max-width: 5rem;
}

#word-count-input::-webkit-outer-spin-button,
#word-count-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#word-count-input[type=number] {
  -moz-appearance: textfield;
}

.testModeSettings {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  div {
    display: flex;
    align-items: center;
  }
  input {
    margin: 0;
    margin-right: 5px;
  }
}

.testManagementButtons {
  display: flex;
  justify-content: flex-start;
}

.startTest {
  border: none;
  width: max(250px, 40%);
  cursor: pointer;
  margin: 0.7em;
  padding: 0.5em;
  background-color: #91ef7d;
  border-radius: 3px;
}

.startTestDescription {
  background-color: #ddeb63;
  pointer-events: none;
  user-select: none;
}

.stopTest {
  background-color: #eb6365;
}

