{
  "presets": [
    ["@babel/preset-react"],
    [
      "@emotion/babel-preset-css-prop",
      {
        "runtime": "automatic",
        "autoLabel": "dev-only",
        "labelFormat": "[local]"
      }
    ]
  ],
  "plugins": ["@emotion"]
}
