.words-component {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
}

.word-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.row {
  display: flex;
  min-width: 360px;
  max-width: 960px;
  width: 100%;
  margin: 0;
  background-color: #fff;
}

.left-cell, .right-cell {
  display: flex;
  width: 50%;
  // justify-content: flex-start;
  border: 1px solid #D4CFB9;
  padding: 0.3em 1em;
  span {
    text-align: initial;
  }
}
.right-cell {
  margin: 0;
}