// Info component styles

.info-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b0a4a4;
  padding-bottom: 0.6em;
  margin-bottom: 3rem;
  h3 {
    text-align: left;
    font-weight: 400;
  }
}

.details {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.info-row {
  display: flex;
  width: 100%;
  margin: 0.2em 0;
  padding: 0 0.7em;
}

#info-row-switch-lang {
  position: relative;
  span:nth-child(2) {
    padding: 0 10px;
  }
}

.left-info, .right-info {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}
.right-info {
  margin: 0;
}

#lang {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    min-width: 60px;
    text-align: left;
    &:last-child {
      text-align: right;
    }
  }
}

.switchLangButton {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: #5f6368;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: transform .2s;
  margin: 0 5px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  &:hover {
    // transform: scale(1.2);
    background-color: rgb(202, 194, 194);
    border-radius: 50%;
  }
}


#word-count-input {
  max-width: 5rem;
}

.start-test {
  
}

// Test component styles

.test-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  gap: 10px;
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#word-to-translate {
  display: block;
  min-width: 200px;
  height: 30px;
  border: 1px solid #9b8686;
  border-radius: 4px;
}

.word-to-enter {
  display: block;
  min-width: 200px;
  height: 30px;
  border: 1px solid #9b8686;
  border-radius: 4px;
  padding: 0;
  padding-left: 10px;
}

.input-word-button {
  width: 100px;
  background-color: #7eff4f;
  // border: 1px solid #321a1a;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: #00ff27;
  }
}

.amount-badges {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  span {
    display: block;
  }
}